*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}

.container-friends {
    width: 666px;
    height: 368px;
    background: #FFFFFF;
    box-shadow: 0px 24px 74px -20px rgba(130, 148, 173, 0.44);
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 70px;
}

.friends-nearby {
    display:flex;
    justify-content: space-between;
}

h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    margin-top: 60px;
    margin-left: 50px;
    margin-bottom: 33px;
}

a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #000000;
    margin-top:67px;
    margin-right: 50px;
}

.friends-images-all {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
img {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    margin-top:15px;
    margin-bottom: 15px;
}

p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;

}
.friends-image-1{
    width: 135px;
    height: 195px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: 50px;
    margin-bottom: 54px;
}

.friends-image-2{
    width: 135px;
    height: 195px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: 9px;
    margin-bottom: 54px;
}

.friends-image-3{
    width: 135px;
    height: 195px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: 9px;
    margin-bottom: 54px;
}

.friends-image-4{
    width: 135px;
    height: 195px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: 9px;
    margin-bottom: 54px;
    
}

.icone-soma {
    width: 40px;
    height: 40px;
    background-color: #000000;
    margin-bottom: 6px;
    border: 8px solid #000000;
}

.container-contacts {
    all: unset;
    width: 451px;
    height: 653px;
    background-color: #FFFFFF;
    box-shadow: 0px 24px 74px -20px rgba(130, 148, 173, 0.44);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 63px 0 44px 61px;

}

.contact-title-number {
    display: flex;
    flex-direction: row;
    
}

.contact-title-number h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    margin-right: 10px;
    justify-content: center;

}

.contacts-number {
    width: 38px;
    height: 39px;
    background: #FFFFFF;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 6px;
    margin-bottom: 55px;
    
}
.container-contacts-images-chats {
    all: unset;
    display: flex;
    flex-direction: column;

}
.container-contacts-images-chats-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 37px;
    align-items: center;
    
}

.icone-chat {
    width: 34px;
    height: 34px;
}

.container-contacts-images-chats-images-texts {
    all:unset;
    display:flex;
    flex-direction: column;
    margin-right: 180px;
}

.container-contacts-images-chats-images-texts h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.container-contacts-images-chats-images-texts p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.container-contacts a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 55px;
    color: white;
    background-color: black;
    text-decoration: none;
    border-radius: 60px;

    padding:18px 30px;

}
